<div class="cabecero">
    <div class="presupuesto">
        <div class="presupuesto_titulo">
            Presupuesto Disponible:
        </div>
        
        <div class="presupuesto_valor">{{IngresoTotal-GastoTotal}}</div>
        
        <div class="presupuesto_ingreso limpiarEstilos">
            <div class="presupuesto_ingreso--texto">Ingresos</div>
            <div class="right">
                <div class="presupuesto_ingreso--valor">{{IngresoTotal}}</div>
                <div class="presupuesto_ingreso--porcentaje">&nbsp;</div>
            </div>
        </div>
        
        <div class="presupuesto_gasto limpiarEstilos">
            <div class="presupuesto_gasto--text">gastos</div>
            <div class="right limpiarEstilos">
                <div class="presupuesto_gasto--valor">{{GastoTotal}}</div>
                <div class="presupuesto_gasto--porcentaje">{{Porcentaje}}%</div>
            </div>
        </div>
    </div>
  </div>