<app-cabecera
[IngresoTotal]="IngresoTotal"
[GastoTotal]="GastoTotal"
[Porcentaje]="Porcentaje"
></app-cabecera>


<app-formulario-ingreso 
(ingreso)="ingresoAgregada($event)"></app-formulario-ingreso>

<app-formulario-gasto
[IngresoTotal]="IngresoTotal"
(gasto)="gastoAgregada($event)"></app-formulario-gasto>
  

  <div class="contenedor limpiarEstilos">
    <div class="row">
      <div class="col-6">
        <h2 class="ingreso_titulo">Ingresos</h2>
        <app-ingreso
        (posicionBorrar)="borrarMatriz($event)"
        *ngFor="let elemento of ingreso; let i = index"
        [ingreso]="elemento"
        [indice]="i"
        ></app-ingreso>
      </div>
      <div class="col-6">
        <h2 class="gasto_titulo">gastos</h2>
        <app-gasto
        (posicionBorrarGasto)="borrarMatrizGasto($event)"
        [IngresoTotal]="IngresoTotal"
        *ngFor="let elemento of gasto; let i = index"
        [gasto]="elemento"
        [indice]="i" ></app-gasto>
      </div>
    </div>
    
      
      
      
      
  </div>
